In [7]:
from utils import Activities, Users

import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
pd.options.plotting.backend = "plotly"

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from utils import join_by_fuzzy
from utils import recognize_gender

import info_utilities

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

from pprint import pprint

import pydot
from IPython.display import Image

import logging
logging.basicConfig(level=logging.DEBUG)

from config_vars import month_map, month_order

In [3]:
pd.options.display.max_columns = None
pd.options.display.max_rows    = None

In [17]:
data_folder = "../data/"
raws_folder = "../data/mysql_extractions/"
suffix      = "_TI"

# Data Loading and Cleaning

### Loading Activities

In [18]:
users = pd.read_csv(f"{data_folder}users{suffix}.csv",sep="\t")

activities = Activities(f"{raws_folder}activities{suffix}.csv")

activities.drop_over_year() 
activities.map_month(month_map,month_order) # map and sort months
activities.save_raw() # create a copy of non cleaned dataframe
activities.fillna() # fill some columns with 0 instead of NaN
activities.year_to_cat()

In [19]:
users.head()

,us_user,user_name,user_email,start_semester,start_year,archived,user_type,HGF,convocatore,teacher,supervisor,ispettore,statista,student,classes,companies,n_activities,n_activities_school_year_1,n_activities_school_year_2,n_activities_school_year_3,n_recipes,n_experiences,n_reflections,n_recipe_reflections,n_experience_reflections,n_in_curriculum,n_recipes_in_curriculum,n_experiences_in_curriculum,n_in_curriculum_semester1,n_in_curriculum_semester2,n_in_curriculum_semester3,n_in_curriculum_semester4,n_in_curriculum_semester5,n_feedback_requests,n_received_feedback_responses,n_received_feedback_requests,n_feedback_responses,avg_activity_evaluations,avg_reflection_length,avg_specific_evaluations,avg_supervisor_evaluation,n_files,n_folders,us_canton,gender
0,21,Paolo Barenco,paolobarenco@gmail.com,2013-08-01,2013,1,studente,0,0,0,0,0,0,1,5,NaN,29.0,29.0,0.0,0.0,14.0,15.0,0.0,0.0,0.0,18.0,4.0,14.0,13.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,14.0,0.0,TI,1.0
1,22,Patrick Binaghi,patrick.tartaruga@hotmail.it,2013-08-01,2013,1,studente,0,0,0,0,0,0,1,"5,8,19","7,137",124.0,41.0,29.0,54.0,66.0,58.0,67.0,13.0,54.0,82.0,25.0,57.0,26.0,11.0,14.0,21.0,10.0,0.0,1.0,0.0,0.0,4.600000,35.0,NaN,6.0,54.0,0.0,TI,1.0
2,23,Andrew Bottinelli,andrewbottinelli@gmail.com,2013-08-01,2013,1,studente,0,0,0,0,0,0,1,"5,8,19",NaN,109.0,51.0,15.0,43.0,40.0,69.0,31.0,21.0,10.0,63.0,14.0,49.0,20.0,9.0,10.0,16.0,8.0,22.0,8.0,0.0,0.0,4.603448,27.0,6.000000,4.0,61.0,0.0,TI,1.0
3,24,Jana Clarissa Burkhalter,burkhalter.jana@bluewin.ch,2013-08-01,2013,1,studente,0,0,0,0,0,0,1,"5,8,19",9,119.0,24.0,14.0,81.0,63.0,56.0,60.0,20.0,40.0,74.0,19.0,55.0,21.0,16.0,13.0,13.0,11.0,57.0,0.0,0.0,0.0,5.059322,41.0,4.724138,NaN,280.0,0.0,TI,0.0
4,25,Jonathan Coscia,jonny_coscia@yahoo.com,2013-08-01,2013,1,studente,0,0,0,0,0,0,1,"5,8,19",91,96.0,19.0,6.0,71.0,39.0,58.0,65.0,9.0,56.0,68.0,11.0,57.0,19.0,12.0,9.0,17.0,11.0,66.0,0.0,0.0,0.0,4.929688,6.0,NaN,NaN,125.0,0.0,TI,1.0

# Export extracted data

In [20]:
activities.df.to_csv(f"{data_folder}activities{suffix}.csv",sep='\t',index=False)